---
import Layout from '@layouts/Layout.astro';
import { getData, URL_IMAGE } from '../helpers/getData.ts';
import type {
  Movie,
  ImagesMovie,
  Backdrop,
  Logo,
  Poster,
} from '../interfaces/MovieInterface.ts';

const now_playing: Movie[] = await getData.now_playing();
---

<Layout title="Welcome to Astro.">
  {
    now_playing.map((movie: Movie) => (
      <div>
        <a href={`/details?id=${movie.id}&title=${movie.title}`}>
          <h1>{movie.title}</h1>
        </a>
        <a href={`/info/${movie.id}/${movie.title}`}>
          <img src={`https://image.tmdb.org/t/p/w500${movie.poster_path}`} />
        </a>
        <p>{movie.overview}</p>
      </div>
    ))
  }
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  a, a:visited {
    text-decoration: none;
    color: white;
  }
</style>
